@import url("/fonts/vercetti.css");
@import "tailwindcss";

:root {
  font-family: "Vercetti", serif;
}

button {
  @apply cursor-pointer;
}

::selection {
  background-color: #00c950;
  color: white;
}
